button {
  &:disabled {
    opacity: 0.5;
  }
}

// Button
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $color-black;
  color: $color-white;
  font-weight: $font-weight-normal;
  font-size: inherit;
  border: 1px solid $color-black;
  padding: $s-size $m-size;
  border-radius: $border-radius-extra;
  transition: $transition-fast;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 2px;
}

.button--primary {
  background: $color-two;
  text-decoration: none;
  border-color: $color-two;
  &:hover {
    background: darken($color-two, 5%);
    border-color: $color-two;
  }

  .banner--button & {
    width: 100%;
    justify-content: center;
  }
}

.button--secondary {
  @extend .button--primary;
  background: none;
  border-color: $color-two;
}

.button--tertirary {
  @extend .button--primary;
  background: $color-five;
  border-color: $color-five;
}

.button--link {
  background: none;
  border: none;
  color: $color-three;
  padding: 0;
}

.button--icon {
  position: relative;
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 50%;
}
