.message {
  position: relative;
  background: $color-black;
  color: $color-white;
  padding-top: $xl-size;
  padding-right: $m-size;
  padding-left: $m-size;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    width: 100%;
    background: $color-three;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    position: relative;
    text-align: center;
    padding: 110px $m-size $xl-size;
    background: $color-white;
    border-radius: $border-radius;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  }

  &__gif {
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin-bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    img {
      min-width: 260px;
    }
  }

  &__share {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $l-size;
  }

  h1 {
    margin-top: $l-size;
    color: $color-five;
    font-weight: $font-weight-light;
    font-family: $font-family-secondary;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: $s-size;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3 {
    width: 100%;
    color: $color-five;
  }

  .button--primary {
    margin-top: $m-size;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding-right: $l-size;
    padding-left: $l-size;
    background: linear-gradient(-25deg, $color-two, $color-one);

    &:hover {
      background: linear-gradient(-25deg, $color-two, $color-two);
    }

    img {
      max-width: 25px;
      margin: 0 $s-size;
    }
  }

  @media (min-width: $screen-tablet) {
    &__box {
      padding-right: $xl-size;
      padding-left: $xl-size;
    }
  }
}
