// Colors - Code

//-- base
$color-black: #090c2a;
$color-white: #fff;

//-- colors
$yellow: #ff9500;
$yellow-2: mix($yellow, red, 65%);
$light-blue: #131942;
$gray: #f3f3f3;

// Colors - Var
$color-one: $yellow;
$color-two: $yellow-2;
$color-three: $gray;
$color-five: $light-blue;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$m-x-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.2rem;
$xxxl-size: 8rem;
$xsl-size: 9.2rem;

// Screen size
$screen-mobile-s: 23rem;
$screen-mobile-m: 30rem;
$screen-phablet: 40rem;
$screen-tablet: 50rem;
$screen-laptop: 70rem;

// Font
$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Mukta", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

//Transition
$transition-fast: 0.3s ease;

// Border
$border-radius: 4px;
$border-radius-extra: 25px;
